@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crushed&family=Galada&display=swap');
@import './component-styles/tiles.scss';
@import './tile-backgrounds.scss';

* {
  margin: 0px;
  padding: 0px;
}
html {
  background: url('/left2.jpg') no-repeat center left fixed;
  background-size: contain;
  background-color: black;
}

body {
  margin: 0px 0px;
  min-height: 100%;
  width: 100%;
  font-size: 22px;
  font-family: Playfair Display, serif;
  background: url('/right2-trans2.png') no-repeat center right fixed;
  background-size: contain;
}
/***********************************************************************
 *  Global Content
 **********************************************************************/
.master-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background-color: rgba(0, 0, 0, 0);
  color: #ffbf60;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: none;
  border-right: none;
  margin: 10px 0px;
  font-family: Crushed, serif;
  font-size: 25px;
  letter-spacing: 2px;
  border-radius: 0px;
  padding: 3px 10px;
  transition: 0.5s;
}

.button:hover {
  color: #e09200;
  border-top: 2px solid rgb(94, 54, 22);
  border-bottom: 2px solid rgb(94, 54, 22);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
}

.content {
  text-align: center;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.05) inset;
}

.tile {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  background: rgba(34, 34, 34, 0.75);
  border-radius: 10px;
  border: #fff;
  position: relative;
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.page-title {
  font-size: 2em;
  color: #e09200;
  font-family: Crushed, serif;
  padding: 10px 0px;
}


.footer {
  background: #f3aaaa;
  min-height: 20px;
}
