#cali {
  background-image: url('../public/caliBeach.jpeg');
}

#guitar-closeup {
  background-image: url('../public/guitarCloseup.jpeg');
}

#group1 {
  background-image: url('../public/Group_bw.jpg');
}

#dave {
  background-image: url('../public/dave_color.png');
}

#dave_tim {
  background-image: url('../public/timDave_color.png');
}

#dave_tim2 {
  background-image: url('../public/timDave_color.png');
}

#mike {
  background-image: url('../public/mike_color.png');
}

#tim {
  background-image: url('../public/tim_color.png');
}
#al {
  background-image: url('../public/al_color.png');
}

#kylie {
  background-image: url('../public/kylie-color.png');
}